body{
    display:flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Inconsolata, monospace;
}

/* css for color buttons */

.color-btn {
    align-self: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

/* css for grid container */
.container{

    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    justify-content: stretch;
    align-self: center;
    border: 4px solid green;
}

.row{
    display: flex;
    flex-grow: 1;
}

.element{
    aspect-ratio: 1/1;
    border:1px solid black;
    flex-grow: 1;
}

/* css for grid manipulation buttons */
.grid-btn{
display: flex;
flex-direction: column;
justify-content: center;
}


/* other classes */

.btn{
    background-color: green;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-family: Inconsolata, monospace;
}

